# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

.pytest_cache/

# Secrets / local env
.env
.env.*
!.env.example

# Node
docker_logs*
*.txt.log
node_modules/
dist/
*.local

# Storage
storage/
ingestion-backend/storage/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Docker
pg_data/
